/*
    Created By Jordan

    Website - https://codingJordan.github.io
    Twitter - https://twitter.com/jordanCoding
    YouTube - https://www.youtube.com/channel/UCpBrGERV1KaIGjsQPz8z2Wg
    GitHub - https://github.com/codingJordan
*/

* {
    text-align: center;
}

.content {
    margin: 15rem 0px;
}

button {
    margin: 0px 10px;
    padding: 12px 48px;
    border: 2px solid black;
    transition: 0.2s ease all;
    outline: none;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: white;
}

.countNum h1::after {
    content: " click(s)";
}